/*
common
*/
body {
    font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 16px;
}

i.fa {
    vertical-align: baseline;
}

/*
header
*/
header {
    background-color: #24b8eb;
}

#logo {

}

#logo img {
    width: 100%;
}

nav {
    margin-top: 10px;
}

#header-panel {
    margin-top: 10px;
}

.header-btn {
    background-color: #24b8eb;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 200;
}

.header-btn:hover {
    background-color: #ffffff;
    color: #24b8eb;
}

/*
footer
*/
footer {
    padding: 50px 0;
    background-color: #24b8eb;
    color: #ffffff;
    text-align: center;
    font-size: 0.81em;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    text-decoration: none;
}

/*
main
*/
#main-wrapper {
    margin: 20px 0;
}

/*
common index
*/
.index-article-list-item {
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #e5e4e6;
}

.index-article-title {
    font-size: 1.2em;
    line-height: 2em;
}

.index-article-additional {
    font-size: 0.81em;
    margin-bottom: 5px;
}

.index-article-abstract {
    font-size: 0.81em;
    text-align: justify;
    text-justify: inter-ideograph;
}

/*
common left sidebar
*/
#left-sidebar-nav {
    border-left: 1px solid #24b8eb;
    border-right: 1px solid #24b8eb;
    border-bottom: 1px solid #24b8eb;
    text-align: center;
}

.left-sidebar-nav-root-item {
    color: #24b8eb;
    line-height: 2.5em;
    font-weight: 400;
    border-top: 1px solid #24b8eb;
    border-bottom: 1px solid #24b8eb;
}

.left-sidebar-nav-root-item a {
    color: #24b8eb;
    display: block;
    width: 100%;
    height: 100%;
}

.left-sidebar-nav-root-item a:hover {
    color: #ffffff;
    background-color: #24b8eb;
    text-decoration: none;
}

.left-sidebar-nav-root-item-active {
    color: #ffffff;
    background-color: #24b8eb;
    text-decoration: none;
}

.left-sidebar-nav-child-item {
    color: #24b8eb;
    line-height: 1.8em;
}

.left-sidebar-nav-child-item a {
    color: #24b8eb;
    display: block;
    width: 100%;
    height: 100%;
}

.left-sidebar-nav-child-item a:hover {
    color: #ffffff;
    background-color: #59cef5;
    text-decoration: none;
}

.left-sidebar-nav-child-item-active {
    color: #ffffff;
    background-color: #59cef5;
    text-decoration: none;
}

/*
article create
*/
#article-create-wrapper {

}

/* Fixed the bug: font size of input and button in editor.md */
#article-create-wrapper input, #article-create-wrapper button {
    font-size: 16px;
    line-height: 1;
}

#article-create-title {
    margin-bottom: 20px;
}

#article-create-title h3 {
    font-weight: 300;
}

#article-create-writing-guidelines {
    text-align: right;
}

#article-create-form-original-select {
    margin-bottom: 20px;
}

#article-create-form-category-select {
    margin-bottom: 20px;
}

#article-create-form-title {
    margin-bottom: 18px;
}

#article-create-form-uri {
    margin-bottom: 18px;
}

#article-create-form-submit button {
    width: 100%;
}

#article-create-form-tags {
    margin-bottom: 20px;
}

/*
article show
*/
#article-show-breadcrumb {
    padding-left: 12px;
    margin-bottom: 12px;
    border-left: 5px solid #a0d8ef;
    font-weight: 200;
    font-size: 0.9em;
}

#article-show-title {
    font-size: 2em;
    margin-bottom: 5px;
    line-height: 1.4;
    font-weight: 400;
}

.article-show-title-label {
    font-size: 0.5em;
    padding: 0.3em 0.5em;
    font-weight: 200;
    vertical-align: middle;
}

#article-show-edit-panel {
    float: right;
}

#article-show-essential-button-on {
    background-color: #5cb85c;
    color: #ffffff;
}

#article-show-wiki-button-on {
    background-color: #5bc0de;
    color: #ffffff;
}

#article-show-additional {
    margin-bottom: 20px;
    color: #a3a3a2;
    font-size: 0.9em;
}

.article-show-additional-label {
    font-weight: 200;
}

#article-show-content {

}

#article-show-tags {
    margin-bottom: 30px;
    color: #1abc9c;
    font-size: 0.9em;
}

#article-show-like {
    font-size: 0.81em;
    text-align: center;
}

#article-show-like button {
    border: 1px solid #ec6d51;
    padding: 6px 12px;
    border-radius: 6px;
    color: #ec6d51;
    background-color: #ffffff;
}

/*
category create
*/
#category-create-submit-button {
    width: 100%;
}

/*
category show
*/
#category-show-breadcrumb {
    padding: 4px 0 4px 12px;
    margin-bottom: 12px;
    border-left: 5px solid #a0d8ef;
    font-weight: 400;
    font-size: 1.2em;
    background-color: #eaf4fc;
}

.category-show-article-list-item {
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #e5e4e6;
}

.category-show-article-title {
    font-size: 1.2em;
    line-height: 2em;
}

.category-show-article-additional {
    font-size: 0.81em;
    margin-bottom: 5px;
}

.category-show-article-abstract {
    font-size: 0.81em;
    text-align: justify;
    text-justify: inter-ideograph;
}

/*
user
*/
#user-main-sidebar-nav {
    text-align: center;
}

.user-main-sidebar-nav-title {
    padding: 10px 0;
    background-color: #e5e4e6;
}

.user-main-breadcrumb {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e4e6;
    font-size: 1.6em;
    font-weight: 400;
}

/*
user all articles
*/
#user-article-table td {
    font-size: 0.81em;
}

#user-article-table .user-article-table-edit {
    padding: 0;
}

#user-article-table .btn-group {
    width: 100%;
    height: 100%;
}

#user-article-table button {
    width: 25%;
    height: 100%;
    border: 0;
    border-radius: 0;
    font-size: 0.81em;
    font-weight: 200;
}